// my colors
@red:                   #BA83D4;
@magenta:               #FDF5E3;
@beige:                 #FDF5E3;
@yellow:                #FDAD22;
@purple:                #475C98;
@darkblue:              #586E75;
@pink:                  #D33682;

// My Fonts
@headlineFontFamily:      "Bree Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
@copyFontFamily:          Merriweather,Georgia, "Times New Roman", Times, serif;

body {

}

.form-horizontal .control-label {
	text-align: left;
}

// Bienvenidos: correcion de margenes
.bienvenidos {
	margin-top: 40px;
	p {
		display:;

	}
	img {
		margin-left:15px;
	}

}

// Banderas de idioma
#banderas {
	margin-right: 30px;
}
img.pull-right {
	@media (max-width: 480px){

		width:150px;
		height:auto;
	}
}

// Formulario de reserva
.form-group {
	margin-bottom: 10px;
}

//Noticias y Eventos
.noticiasev {
	img {
		margin:15px;
		@media (max-width: 416px){
			margin-right:100px;
		}
	}
	img.pull-left {
		margin-left:0;
	}
}

// Visitar la Pascua
.visitarlapascua {
	img {
		padding:5px;
		margin-left:1%;
		margin-right:1%;
		margin-top:10px;
		margin-bottom:10px;
// Pantallas Grandes
@media (max-width: 1199px) {
	margin:0px;
}
//Medianas
@media (max-width: 991px) {
	padding:5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;
}
//Pequenhas
@media (max-width: 768px) {
	padding:5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:10px;
	margin-bottom:10px;
}

}


}

// Servicios
.servicios {
	ul{
		list-style: none;
		padding-left: 20px;
	}
	li {
		line-height: 2em;
	}
}

// Footer
.piecera {
	img {
		margin-right: 5px;
		margin-left: 5px;
		display: inline !important;

	}
	.social {
		p {
			font-size:150%;
			@media (max-width: 410px){
				font-size: 100%;
				font-weight: bold;
			}
		}

		.col-sm-offset-2 {
//XS
@media (max-width: 410px){
	margin-left:9%;
}
//Grandes
@media (max-width: 1199px) and (min-width: 992px){
	margin-left:25%;
}
//Pequ;as
@media (max-width: 767px) and (min-width: 411px){
	margin-left:13%;
}
//Medianas
@media (max-width: 991px) and (min-width: 768px){
	margin-left:12%;
}
}

}
ol {
	list-style:none;
}
}

// Separacion entre el body y el footer
.content {
	margin-bottom: 20px;
}

//Justificar Parrafos
article, aside {
	p {
		text-align: justify;
	}
}

.Arservicios {

	.col-sm-3 {
		@media (max-width:410px) {
			padding-left: 1%;
			padding-right: 1%;
		}
	}
	.thumbnail {
		height: 100%;
		overflow: hidden;
		padding:3px;
	}
	.thumbnail.img-responsive {
		display: inline;
		height: 100%;
	}
}

.coffeeshop {
	img {
		margin-left: auto;
		margin-right: auto;
	}
}

.event {
	a {
		color:white;
	}
	.btn {
		margin-top: 10px;
	}
}

.tipohab {
	a.panel-heading {
      
        	display: block;
		img {
			position:relative;
			top:-7px;
			margin-left:3px;
		}
	}  

	.panel-title{
				@media (max-width: 410px){
			font-size:12px !important;
		}
	}
	.ind {
		width: 1.7em;
		height:2em;
	}
	.mat {
		width: 2em;
		height:2em;
	}

}

.mapa {
	img {
		display: block;
		width: auto;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
	a {
		color:white;
	}
}

.matrimonial {
	  .rowsel {
	  	margin-bottom: 10px;
	  }
      .rowthumb {
      	.well {
      		padding:5%;
      	}
      	.col-xs-3 {
      		padding: .5%;
      	}
      	padding-left: 17px;
      	padding-right: 17px;
      }
	img.img-responsive {
		display: inline;
		margin-right: 10px;
		@media (max-width:400px){
          display: block;
          margin-left: auto;
          margin-right: auto;
          float: none !important;
		}
	}
	p {
			display: block;
		}
	li {
		@media (max-width: 767px) {
			display: inline;
			
		}
	}
}


	h1 {
       @media (max-width:430px){
		font-size: auto;
	}
}