// my colors
@red:                   #BA83D4;
@magenta:               #FDF5E3;
@beige:                 #FDF5E3;
@yellow:                #FDAD22;
@purple:                #475C98;
@darkblue:              #586E75;
@pink:                  #D33682;

// My Fonts
@headlineFontFamily:      "Bree Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
@copyFontFamily:          Merriweather,Georgia, "Times New Roman", Times, serif;

body {
	
}

.form-horizontal .control-label {
	text-align: left;
}

.bienvenidos {
	margin-top: 40px;
	p {
		display: inline;
	}

}

#banderas {
	margin-right: 30px;
}
img.pull-right {
	@media (max-width: 480px){

		width:150px;
		height:auto;
	}
}

.form-group {
	margin-bottom: 10px;
}

.noticiasev {
	img {
		margin:15px;
	}
	img.pull-left {
		margin-left:0;
	}
}

.visitarlapascua {
	img {
		margin:10px;
	   	@media (max-width: 1199px) {
			margin:0px;
		}
			@media (max-width: 991px) {
			margin:15px;
		}
			@media (max-width: 768px) {
			margin:15px;
		}

	}

	img.visible-xs {
		@media (max-width: 767px) {
			display: inline !important;
		}
	}

	img.visible-sm {
		@media (max-width: 991px) and (min-width: 768px) {

			display: inline !important;
		}
	}
}